@charset "utf-8";

/*레이아웃 모바일모드 변환*/
@media screen and (max-width:1023px) {

  #main_wrap input[type=text],
  input[type=file],
  input[type=password],
  textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none
  }
  .inner {
    max-width: 100%;
    margin: 0 16px
  }
  header .inner {
    height: 114px;
    align-items: center;
    margin:0;
    padding:0 16px;
  }
  header .logo {
    margin-top: 0
  }
  header .logo a {
    width: 69px;
    height: 82px
  }

  header ul.menu-main {
    position: static;
    padding: 8px 16px;
    margin-top: 0;
  }

  header ul.menu-main>li {
    display: block;
    margin-left: 0;
    text-align: left;
    border-bottom: 1px solid var(--line-color)
  }

  header ul.menu-main>li>a {
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 24px 0;
    transition:padding 0.3s 0.3s;
  }
  header ul.menu-main>li.current>a {
    padding: 24px 0 15px;
    transition:padding 0.3s;
  }

  header ul.menu-main>li.expanded>a:after {
    content: "\e943";
    display: block;
    width: 18px;
    height: 24px;
    text-align:center;
    background-color: transparent;
    font-size: 26px;
    font-family: xeicon;
    position: absolute;
    right: 16px;
    top: 23px;
    color:var(--line-color);
    transition: transform 0.3s
  }

  header ul.menu-main>li.expanded.current>a:after {
   content: "\e946";
     width: 18px;
    height: 24px
  }

  header ul.menu-main>li>ul {
    max-height: 0;
    width: auto;
    position: static;
    transform: translate(0, 0);
    padding: 0;
    overflow: hidden;
    visibility: visible;
    opacity:1;
    transition: max-height 0.3s
  }

  header ul.menu-main>li>ul>li {
    text-align: left;
    margin-bottom: 8px
  }

  header ul.menu-main>li>ul>li>a {
    font-size: 18px;
  }

  header ul.menu-main>li.current>ul {
    max-height: 500px;
    transition: max-height 1s;

  }

  header .menu-mobile {
    display: inherit;
  }

  header .menu-mobile li.menu {

  }

  header nav {
    display:block;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;
    background-color:#fff;
    box-sizing: border-box;
    z-index: 50;
    transition: height 0.3s
  }
  header.open-mobile-menu nav {
    height:calc(100vh - 114px);
    transition: height 0.3s
  }

  header.open-mobile-menu .menu-mobile li.menu .btn-menu01:after {
    content: "\e921"
  }



  /*컨텐트 영역*/
  #main-content {
    padding-top: 114px
  }

  /*푸터*/
  footer {
    border-top:3px solid var(--line-color)
  }
  footer .inner {
    height:auto;
    padding:48px 0;
    align-items:baseline;
  }
  footer .logo {
    margin-right:25px;
  }
  footer .info-area address{
    margin-bottom:26px;
    word-break:keep-all;
  }
  footer .info-area address span em{
    display:block;
  }

  footer .menu-sns01 {
    position:static;
    display:flex;
    justify-content: space-between;
    margin-bottom:26px;
  }
  footer .menu-sns01 li {
    margin-left:0;
  }
  footer .menu-sns01 li a {
    width:53px;
    height:53px;
  }


}

/*모바일 폰*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  html {
    font-size: 14px
  }

  body {
    overflow-x: hidden
  }

  input[type=text],
  input[type=number],
  input[type=password],
  input[type=date],
  input[type=email] {
    font-size: 14px;
    height: 32px
  }

  /******컨테이너******/

  /****** main page ******/
  .container-main .banner-area {
    background-size: auto 100%
  }

  .container-main .banner-area .inner {
    height: 480px;
    overflow: hidden;
    margin: 0;
    padding: 0 16px
  }

  .container-main .banner-area .inner:before {
    width: 108px;
    height: 168px;
    left: -16px
  }

  .container-main .banner-area .inner:after {
    width: 136px;
    height: 136px;
    bottom: -70px;
    right: -60px
  }

  .container-main .banner-area .content {
    bottom: 48px
  }

  .container-main .banner-area .content h2 {
    margin-bottom: 8px
  }

  .container-main .banner-area .content h2 em {
    font-size: 16px;
    margin-bottom: 8px
  }

  .container-main .banner-area .content h2 strong {
    font-size: 24px
  }

  .container-main .banner-area .content ul li {
    margin-right: 0
  }

  .container-main .banner-area .content ul li>strong {
    font-size: 16px;
    margin-right: 8px
  }

  .container-main .banner-area .content ul li>b {
    font-size: 16px;
    margin-right: 8px
  }

  .container-main .banner-area .moveDown {
    right: 16px;
    bottom: 0rem;
    width: 26px;
    height: 40px0
  }

  .container-main .headline-area01 {
    padding: 72px 0 80px;
    background-size: auto 100%;
    background-position: right center
  }

  .container-main .headline-area02 {
    padding: 72px 0 80px
  }

  .container-main .headline-area02 .title-main01 {
    padding-bottom: 30px
  }

  .container-main .headline-area02 .btn-more02 {
    right: initial;
    left: 0;
    top: 95px
  }

  .container-main .newsletter-area .inner {
    padding: 36px 0;
    display: block
  }

  .container-main .newsletter-area h3 {
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    width: 260px;
    margin: 0 auto 32px
  }

  .container-main .newsletter-area form {
    padding-right: 0;
    border-radius: 0.3rem
  }

  .container-main .newsletter-area form input {
    height: 48px;
    font-size: 16px;
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 8px
  }

  .container-main .newsletter-area form button {
    height: 48px;
    font-size: 20px;
    display: block;
    width: 100%;
    ;
    margin-left: 0;
    border-radius: 0.3rem
  }

  .container-main .map-area {
    height: 240px
  }

  /*sub page container*/
  .container01 .banner-area iframe {
    width: 100%;
    height: 320px
  }

  .container01>.sticky-buttons {
    position: fixed;
    bottom: -56px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 56px;
    padding: 8px 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    transition: bottom 1s
  }

  .container01>.sticky-buttons.appear {
    bottom: 0
  }

  .container01>.sticky-buttons .btn-large01 {
    padding: 8px 0;
    flex-basis: 50%;
    text-align: center;
    margin: 0 8px
  }


  /*버튼*/
  .btn-menu01 {
    display: inline-block;
    border: none;
    background-color: transparent;
    width:34px;
    height:34px;
    line-height:34px;
    text-align: right;
    position:relative;
    z-index:100;
  }

  .btn-menu01>b {
    display: none
  }

  .btn-menu01:after {
    content: "\e91c";
    font-size:34px;
    font-family: xeicon;
    text-indent: 0;
  }






  /*슬라이더 - 공통*/
  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }

  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 6px
  }

  .slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }

  /*타이틀-페이지*/




}


/* 태블릿 모드 세로 */
@media all and (min-width: 768px) and (max-width:1023px) {
  html {
      font-size: 13px
  }


}

/* 태블릿 가로 */
@media all and (min-width: 1024px) and (max-width: 1169px) {
html {
  font-size: 14px
}


}

/* 소형 노트북 가로 */
@media all and (min-width: 1170px) and (max-width: 1340px) {
html {
  font-size: 15px
}


}


/* micro width */
@media screen and (max-width: 350px) {
html {
  font-size: 11px
}

}
